body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.hire-me-button {
    text-decoration: none;
    padding: 5px 20px;
    background-image: linear-gradient(red, black);
    color: aliceblue;
    border-radius: 5px;
}

.chanchal {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

footer {
    text-align: center;
}

.half-width {
    width: 100%;
    padding: 30px 50px;
}

.sec {
    background-image: url(photo/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;

}

.bg {
    background-image: url(photo/top-banner.png);
    background-repeat: no-repeat;
    margin: 0;
}

.dream-big {
    background-image: url(photo/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}

.box {
    box-shadow: 10px 10px 40px black;
    width: 40%;
    margin: 5% 5%;
    padding: 5px 30px;
    border-left: 7px solid blueviolet;
}

#full {
    border-left: 7px solid tomato;
}